
/*Okiru web-app custom CSS file*/

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	min-height: 250px;
	background-image: url('clouds.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.main-banner {
	width: 100%;
	height: 180px;
	image-repeat: no-repeat;
	image-size: 100% auto;
}

.logo {
	height: 100%;
	width: 305px;
	margin: 0 auto;
}

#title {
	float: left;
	font-family: 'Gloria Hallelujah', cursive;
	margin-top: 60px;
	margin-left: 5px;
	font-size: 80px;
	color: white;
}

#center {
	width: 242px;
	margin: 0 auto;
}

#slogan {
	clear: both;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	margin-top: 2px;
	font-size: 14px;
	color: white;
}

#logo-img {
	margin-top: 15px;
	float: left;
	background-image: url('clock1_white.png');
	width: 93px;
	height: 128px;
	image-repeat: no-repeat;
}

#main {
	min-width: 385px;
	max-height: 442px;
	position: absolute;
	top: 180px;
	bottom: 0px;
	left: 3%;
	right: 3%;
	background-color: rgba(255, 255, 255, 0.50);
	border-radius: 8px;
	margin-top: 10px;
}	

.number {
	margin-top: 50px;
}

#num {
	min-width: 200px;
}

#center-phone-num {
	max-width: 700px;
	width: 68%;
	margin: 0 auto;
}

#num > input {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

.phone-input {
	height: 70px;
}

#center-data {
	width: 90%;
	margin: 0 auto;
	margin-top: 45px;
	overflow: auto;
}

.day {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
}

.time {
	width: 90%;
	margin-top: 25px;
	border-radius: 3px;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #9ed5f7;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb { 
	background-color: #f2fcff;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#center-submit {
	width: 120px;
	margin: 0 auto;
	margin-top: 65px;
}

.submit-form {
	border-radius: 5px;
	width: 120px;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
}

.pair {
	float: left;
	width: 13.94%;
}

.copyright-container {
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0px;
}

#copyright-notice {
	text-align: center;
	bottom: 2px;
	font-size: 9px;
}

#confirmation {
	z-index: 1000;
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#message {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-top: 14%;
	background-color: white;
	border-radius: 10px;
}

#message > h2 {
	font-size: 23px;
	font-family: 'Gloria Hallelujah', cursive;
	color: #567B8D;
	text-align: center;
	padding-top: 15px;
}

#message > div {
	width: 150px;
	height: 100px;
	margin: 0 auto;
	padding-top: 10px;
}

#exit {
	-webkit-filter: brightness(1.5);
	filter: brightness(1.5);
	width: 26px;
	height: 26px;
	margin-left: 95%;
	margin-top: 25px;
	background-image: url('exit.png');
	background-repeat: no-repeat;
	cursor: hand;
	cursor: pointer;
}

#exit:hover {
	-webkit-filter: brightness(1.75);
	filter: brightness(1.75);
}