
/*Okiru web-app custom CSS file*/

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
}

.main-banner {
	width: 100%;
	height: 100px;
	background-image: url('banner_bg.jpg');
	image-repeat: no-repeat;
	image-size: 100% auto;
}

.logo {
	height: 100%;
	width: 20%;
	margin: 0 auto;
}

#title {
	font-size: 25px;
	color: white;
}

#logo-img {
	/*background-image: url('*/
}